# DEV: Copy the next few lines to ~/.git/info/exclude:
#
#   # Start by ignoring everything.
#
#   *
#
#   # Then add back that which we're tracking.
#   # NOTE: Both / and /** are required for this to work.
#   # NOTE: /* will only match files in top-level .fries/, but
#   #       not any subdirectories or their files; so use /**.
#
#   !.fries/
#   !.fries/**
#
# Note that we cannot put the above herein, because a '*'
# in .gitignore means a '!' in .git/info/exclude goes unheeded.

.bashrc
.gitignore
LICENSE
README.rst

# ***

# Home-fries symlinks.
.abcde.conf
.bashrc
.gitmux.conf
.lessfilter
.mkshrc
.profile
.tmux.conf.local
.zshrc

# ***

# Home-fries-managed directories.
.trash/
.trash-TBD/

# ***

# Standard fare.
Desktop/
Documents/
Downloads/
Dropbox/
Videos/
VirtualBox_VMs/

# ***

# Symlinks to private files o' mine.
.anacron
ansible_hosts
.bash_history
.cobra.yaml
.cookiecutterrc
.ctags
.direnvrc
.gitconfig
.gitignore.local
.gnupg
.inputrc
.irb_history
.irbrc
.jira.d
.mlocate
mm.cfg
.mrconfig
.mrinfuse
.mrtrust
.multitail.conf
.netrc
.password-store
.psqlrc
.pypirc
.secretshare.key
.secretsharerc
.sqliterc
.todos.json

# Symlinks to files in other projects.
.tmux.conf
.vimrc

# Other files my user sees at home.
.ICEauthority
.Xauthority
.bash_logout
.dmrc
.forward
.gtkrc-2.0
.gtkrc-xfce
.lesshst
.node_repl_history
.perl_history
.photorec.cfg
.pulse-cookie
.python_history
.selected_editor
.sqlite_history
.viminfo
.wget-hsts
.xsession-errors
.xsession-errors.old*
tmux-client-*.log
tmux-server-*.log

# Other directories my user sees.
.android/
.ansible/
.aptitude/
.aws/
.bash_completion.d/
.binwalk/
.bundle/
.cache/
.config/
.dropbox-dist/
.dropbox/
.fonts/
.gconf/
.gem/
.gimp-2.8/
.gnome/
.googleearth/
.gopath/
.grip/
.ivy2/
.linuxmint/
.local/
.mozilla/
.npm/
.nvm/
.pki/
.rubies/
.sbt/
.ssh/
.subversion/
.thumbnails/
.tmux/
.tox/
.vim/
.vim_backups/
.virtualenvs/
snap/

