# readline configuration

$include /etc/inputrc

# https://www.reddit.com/r/commandline/comments/kbeoe/you_can_make_readline_and_bash_much_more_user/

# Tab-completion on symlinked directories includes trailing slash.
set mark-symlinked-directories on

# No need to cap chars f or completion.
set completion-ignore-case on

# This one might be too weird...
# Press tab and you get pre-truncated file names, like ...-2.jpg, ...-3.jpg, etc.
# ** Control-j: menu-complete**
# ** Control-k: menu-complete-backward**
set completion-prefix-display-length 2

# "underscores and hyphens are treated equally when completing"
set completion-map-case on

# From above article, commenters suggested:

# Put contents of ~/.inputrc into .bashrc
# (with caveat that these options are only available on shell
# on not to programs that use readline):
# 
##bind 'set keymap vi'
##bind 'set editing-mode vi'
#bind 'set mark-directories on'
#bind 'set mark-symlinked-directories on'
#bind 'set page-completions off'
#bind 'set show-all-if-ambiguous on'
#bind 'set visible-stats on'
#bind 'set completion-query-items 9001'

#set show-all-if-ambiguous on

#set show-all-if-unmodified on

# Change search history from Ctrl-R/Ctrl-S
#
#"\e[5~": history-search-backward
#"\e[6~": history-search-forward
#"\C-f": history-search-backward
#"\C-g": history-search-forward

